@font-face {
    font-family: "Roboto";
    src: url(/Fonts/Roboto-Light.ttf); 
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(/Fonts/Roboto-Bold.ttf); 
    font-weight: 700;
}

* {
    margin: 0px;
}


body {
    font-family: Roboto, Arial, sans-serif;
}

header {
    background-color: #1b2431;
    color: white;
    padding: 2rem 2rem;
    border-bottom: 1px solid rgb(48, 52, 71);
}

.HeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Logo {
    font-weight: 700;
    padding-bottom: 20px;
}

nav {
    word-spacing: 10px;
}

a {
    color: white;
    font-size: small;
    word-spacing: 1px;
    text-decoration: none;
}

.Hero {
    background-color: #1b2431;
    padding: 1rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.HeroText {
    color: white;
    margin-right: 60px;
    width: 300px;
}

#HeroHeader {
    margin: 20px 0px;
}

.HeroImage {
    padding: 8vw;
    background-color: rgb(102, 103, 116);
}

.Placeholder {
    color: white;
}

button {
    border-radius: 7px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 20px 0px;
    color: white;
}

#HeroButton {
    background-color: rgb(49, 101, 231);
    border: none;
}

.Info {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#Info-Header {
    text-align: center;
    margin: 25px 0px;
}

.InfoContain {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
}

.InfoPart {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.Image-Placeholder1, .Image-Placeholder2 {
    width: 1000px;
    height: 120px;
    background-color: white;
    border: 4px solid rgb(49, 101, 231);
    border-radius: 6px;
}

.Image-Placeholder1 {
    margin: 0px 20px 20px 0px;
}

.Image-Placeholder2 {
    margin: 0px 0px 0px 20px;
}


.Quote {
    background-color: rgb(229, 228, 230);
    padding: 70px;
    align-items: center;
}

#ThorQuote {
    font-style: italic;
    font-size:larger;
    text-shadow: 1px 2px 2px gray;
    text-align: left;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

cite {
    text-shadow: none;
    float: right;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;
}


.CallToAction {
    background-color: lightgray;
    border-radius: 7px;
    padding: 5px 40px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    min-width: 200px;
    max-width: 500px;
    background-color: rgb(49, 101, 231);
}


.CallText {
    margin-right: 70px;
    color: white;
    line-height: 15px;
    font-size: smaller;
}

#CallButton {
    background-color: transparent;
    border: 1px solid white;
    width: 100px;
}

#CallButton:hover {
    background-color: rgb(113, 146, 245);
    color: lightgray
}

footer {
    background-color: #1b2431;
    display: flex;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
